* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
	background-image: url("/images/background.png");
	/* background-position: center; */
	/* background-repeat: no-repeat; */
	background-size: cover;
}

/* Header */
.head {
	background-color:#ca3c32;
	width: 100%;
	padding: 1em 0;
	display: flex;
	justify-content: center;
}

.loggo {
	width: max(20vw, 15em, 15rem);
}

/* Buttons find and MyTeam */
.content__button {
	margin-top: 1em;
	display: flex;
	justify-content: space-around;
}

/* Buttons */
.content__my-team, .content__find-champion, .content__link-top {
	padding:0.4em 0.3em;
	font-size: 1.2em;
	border-radius: 0.2em;
	color: #f0f0f0; 
	background-color: #3a5ca8;
	box-shadow: inset 1px 1px 4px black;
}

.content__my-team:hover, .content__find-champion:hover, .content__link-top:hover {
	cursor: pointer;
	background-color: #ca3c32;
	box-shadow: 2px 1px 6px black;
}

/* Search input */
.content__search__text {
	font-size: 1.2em;
	color: #f0f0f0;
}

.content__search-champion {
	font-size: 1.2em;
}

.content__search {
	text-align: center;
	margin-top: 1em;
}

/* Cards */
.content__pokemon-cardlist {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 1em;
}

.div-card {
	background-color: #f0f0f0;
	border:1px solid #000000;
	padding: 0.5em;
	width: 13em;
	text-align: center;
}

/* Button inside card */
.button-div {
	display: flex;
	margin-top: 1em;
}

.card-button {
	min-height: 2em;
	padding:0.2em;
}

.card-button-reserve {
	padding:0.2em;
}

.card-button:hover, .card-button-reserve:hover {
	cursor: pointer;
}

.content__my-team-section {
	margin-top:4em;
}

/* My team and reserve */
.constent__my-team-div-card, .content__my-reserve-div-card {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.content__my-team-heading, .content__my-reservelist {
	color: #f0f0f0;
	text-align: center;
	margin-bottom: 1em;
	font-size: 3em;
}

.linebreak {
	margin: 2em 0;
}

.content__reserve {
	padding-bottom: 5em;
}

/* Link to top */
.content__link-top {
	position: fixed;
	margin-left: 1em;
	font-size: 1.5em;
	color: #f0f0f0;
	bottom:1em;
}