* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
	background-image: url("/images/background.png");
	background-size: cover;
}

/* Container full team */
.content__full-team {
	position:fixed;
	left: 50%;
    right: auto;
	top: 50vh;
	padding: 1em;
	background-color: #f0f0f0;
	border: 1px solid black;
}

/* Header */
.head {
	background-color:#ca3c32;
	width: 100%;
	padding: 1em 0;
	display: flex;
	justify-content: center;
}

.loggo {
	width: max(20vw, 15em, 15rem);
}

/* Buttons find and MyTeam */
.content__button {
	margin-top: 1em;
	display: flex;
	justify-content: space-around;
}

/* Buttons */
.content__my-team, .content__find-champion, .content__link-top {
	padding:0.4em 0.3em;
	font-size: 1.2em;
	border-radius: 0.2em;
	color: #f0f0f0; 
	background-color: #3a5ca8;
	box-shadow: inset 1px 1px 4px #000000;
}

.content__my-team:hover, .content__find-champion:hover, .content__link-top:hover {
	cursor: pointer;
	background-color: #ca3c32;
	box-shadow: 2px 1px 6px #000000;
}

/* Search input */
.content__search__text {
	font-size: 1.2em;
	color: #f0f0f0;
}

.content__search-champion {
	font-size: 1.2em;
}

.content__search {
	text-align: center;
	margin-top: 1em;
}

/* Cards */
.content__pokemon-cardlist {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 1em;
}

.div-card {
	background-color: #f0f0f0;
	border-radius: 0.2em;
	width: 13em;
	display: flex;
	flex-wrap: wrap;
	margin:1em;
}

.card-ability, .card-type {
	padding: 0 0.5em;
}

/* Text inside card */
.card-type {
	padding-top: 0.5em;
}

/* Button inside card */
.button-div {
	display: flex;
	margin-top: 1em;
}

.card-button, .card-button-reserve, .card-button-remove{
	padding:0.5em 1em;
	width: 100%;
}

.card-button {
	background-color: #e3e2e2;
	border:1px solid;
	border-bottom: none;
	margin-top:1em;
}

.card-button-reserve {
	background-color: #e3e2e2;
	border:1px solid;
}

.upButton, .downButton  {
	padding:0.5em 1em;
	margin-top: 1em;
	width: 50%;
	flex-wrap: wrap;
}

.card-button-remove {
	background-color: #e3e2e2;
	border:1px solid;
}

.card-button:hover, .card-button-reserve:hover, .card-button-remove:hover, .upButton:hover, .downButton:hover {
	cursor: pointer;
	box-shadow: inset 1px 1px #000000;
	box-shadow: inset -1px -1px #000000;
	filter: brightness(103%);
}

.card-button:hover, .card-button-reserve:hover, .card-button-remove:hover {
	cursor: pointer;
	box-shadow: inset 1px 1px #000000;
	box-shadow: inset -1px -1px #000000;
	filter: brightness(103%);
}

.content__my-team-section {
	margin-top:4em;
}

/* My team and reserve */
.complete-team {
	color:#f0f0f0;
	font-size: 0.5em;
}

.card-name {
	text-transform: capitalize;
	margin-left: auto;
    margin-right: auto;
	padding-bottom: 0.5em;
}

.card-img {
	width: 100%;
	margin-left: auto;
    margin-right: auto;
	background-color:#ffffff61;
	padding:0.5em 2em 1em 2em;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
}

.content__my-team-section, .content__reserve-section {
	margin-right: 2em;
	margin-left: 2em;
	margin-bottom: 1em;
	padding: 1em;
	background-color: #171717;

}

.content__my-team-div-card, .content__my-reserve-div-card {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.content__my-team-heading, .content__my-reservelist {
	color: #f0f0f0;
	text-align: center;
	margin-bottom: 1em;
	font-size: 3em;
}

.linebreak {
	margin: 2em 0;
}

.content__reserve {
	padding-bottom: 5em;
}

/* Link to top */
.content__link-top {
	position: fixed;
	margin-left: 1em;
	font-size: 1.5em;
	color: #f0f0f0;
	bottom:1em;
	z-index: 2;
}