* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
	background-image: url("images/head.png");
}

.head {
	background-color:#a52a2a;
	width: 100%;
	padding: 1em 0;
	display: flex;
	justify-content: center;
}

.loggo {
	width: max(20vw, 15em, 15rem);
}

/* Buttons find and MyTeam */
.content__button {
	margin-top: 1em;
	display: flex;
	justify-content: space-around;
}

.content__my-team, .content__find-champion {
	padding:0.3em 0.2em;
	font-size: 1em;
	border-radius: 0.3em;
}

.content__my-team:hover, .content__find-champion:hover {
	cursor: pointer;
}

.content__search {
	text-align: center;
	margin-top: 1em;
}

#bild {
	width: 100px;
	height: 100px;
}

.content__pokemon-cardlist {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 1em;
}

.button-card {
	border:1px solid black;
	padding: 0.5em;
	width: 13em;
}

.button-card:hover {
	cursor: pointer;
}
